/* common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

/* this reduces the size of 1 rem to 10 pixels */
html{
    font-size: 62.5%;
}

/* section 1 */
.section-1{
    width:100%;
    height:100vh;
    background-image: url(assets/images/dark-bg.jpeg);
}